* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3f5f7;
}


/* 确定版心 */

.w {
    width: 1200px;
    margin: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/* 头部制作 */

.header {
    height: 42px;
    /* 注意此地方会层叠W里面的margin */
    margin: 30px auto;
}

.header .logo {
    float: left;
    width: 198px;
    height: 42px;
}

.header .nav {
    float: left;
    margin-left: 60px;
}

.header ul li {
    float: left;
    margin: 0 15px;
}

.header ul li a {
    display: inline-block;
    padding: 0 10px;
    line-height: 42px;
    color: #050505;
    font-size: 18px;
}

.header ul li a:hover {
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff;
}

.header .search {
    float: left;
    width: 410px;
    height: 40px;
    border: 1px solid #00a4ff;
    margin-left: 70px;
    line-height: 42px;
}

.header .search input {
    float: left;
    width: 345px;
    height: 40px;
    border: 0px solid transparent;
    font-size: 14px;
    color: #bfbfbf;
    padding-left: 15px;
}

.header .search button {
    float: left;
    width: 50px;
    height: 40px;
    border: 0;
    background-image: url(images/fa-search.png);
}

.header .user {
    float: right;
    margin-right: 30px;
    line-height: 42px;
    font-size: 14px;
    color: #666;
}

.header .user img {
    vertical-align: middle;
}


/* banner制作 */

.banner {
    height: 421px;
    background-image: url(images/banner.png);
}

.banner .w {
    height: 421px;
    background: url(images/banner2.png) no-repeat;
}

.banner .subnav {
    float: left;
    width: 190px;
    height: 421px;
    background-color: rgba(0, 0, 0, .3);
}

.banner .subnav ul li a {
    display: block;
    height: 46px;
    line-height: 46px;
    font-size: 14px;
    color: #fff;
    padding: 0 20px;
}

.banner .subnav ul li a span {
    float: right;
}

.banner .subnav ul li a:hover {
    color: #00a4ff;
}

.banner .course {
    float: right;
    width: 230px;
    height: 300px;
    margin-top: 50px;
    background-color: #fff;
}

.banner .course h2 {
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 18px;
    background-color: #9bceea;
    color: #fff;
}

.banner .course .bd {
    padding: 0 20px;
}

.banner .course .bd ul li {
    padding: 14px 0;
    border-bottom: 1px solid #a5a5a5;
}

.banner .course .bd ul li h4 {
    font-size: 16px;
    color: #4e4e4e;
}

.banner .course .bd ul li p {
    font-size: 12px;
    color: #a5a5a5;
}

.banner .course .bd .more {
    display: block;
    height: 38px;
    margin-top: 5px;
    border: 1px solid #00a4ff;
    line-height: 38px;
    text-align: center;
    color: #00a4ff;
    font-style: 16px;
    font-weight: 700;
}


/* 精品模块 */

.goods {
    height: 60px;
    margin-top: 10px;
    background-color: #fff;
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, .1);
    line-height: 60px;
}

.goods h3 {
    float: left;
    margin-left: 30px;
    font-size: 16px;
    color: #00a4ff;
}

.goods ul {
    float: left;
    margin-left: 30px;
}

.goods ul li {
    float: left;
}

.goods ul li a {
    padding: 0 30px;
    font-size: 16px;
    color: #050505;
    border-left: 1px solid #ccc;
}

.goods .mod {
    float: right;
    margin-right: 30px;
    font-size: 14px;
    color: #00a4ff;
}


/* box核心内容区域 */

.box {
    margin-top: 30px;
}

.box-hd {
    height: 45px;
    line-height: 45px;
}

.box-hd h3 {
    float: left;
    font-size: 20px;
    color: #494949;
}

.box-hd a {
    float: right;
    font-size: 12px;
    color: #a5a5a5;
}


/* 清除浮动 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1
}

.box-bd ul li {
    float: left;
    width: 228px;
    height: 270px;
    margin: 0 15px 12px 0;
    background-color: #fff;
}

.box-bd ul .clear {
    margin-right: 0;
}

.box-bd ul li>img {
    width: 100%;
}

.box-bd ul li {
    position: relative;
}

.box-bd ul li em img {
    position: absolute;
    top: 7px;
    right: -4px;
}

.box-bd ul li h4 {
    padding: 20px 20px 18px 25px;
    font-size: 14px;
    font-weight: 400;
    color: #050505;
}

.box-bd ul li .info {
    padding: 0 20px 0 25px;
    font-size: 12px;
    color: #999;
}

.box-bd ul li .info span {
    color: #ff7c2d;
}


/* footer模块制作 */

.footer {
    height: 300px;
    background-color: #fff;
    margin-top: 30px;
}

.footer .w {
    height: 300px;
    padding-top: 35px;
}

.footer .w .copyright {
    float: left;
}

.footer .w .copyright p {
    font-size: 12px;
    color: #666;
    margin: 20px 0 15px 0;
}

.footer .w .copyright .app {
    display: block;
    width: 118px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #00a4ff;
    border: 1px solid #00a4ff;
}

.footer .w .links {
    float: right;
}

.footer .w .links dl {
    float: left;
    margin-left: 100px;
}

.footer .w .links dl dt {
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
}

.footer .w .links dl dd a {
    font-size: 12px;
    color: #333;
}